.tab {
	overflow: hidden;
}

.tab button {
	@apply text-cioccolato;
}

.tab button.active {
	@apply bg-yelloworange text-white;
}

.tabcontent {
	display: none;
}

.tab-slider-wrapper {
	max-width: 270px;

	@media screen and (min-width: 768px) {
		max-width: 650px;
	}

	@media screen and (min-width: 1024px) {
		max-width: 900px;
	}

	@media screen and (min-width: 1280px) {
		max-width: unset;
	}

	#scroller-btn-left,
	#scroller-btn-right {
		@apply absolute h-30 w-30 flex justify-center items-center rounded-half cursor-pointer text-white top-5 -left-50;

		@media screen and (min-width: 1280px) {
			display: none !important;
		}
	}

	#scroller-btn-right {
		@apply -right-50;
		left: unset;
	}

	.scroller-btn.inactive {
		@apply opacity-30 pointer-events-none;
	}
}
