@import '_fonts.scss';
@import '_mixins.scss';

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer utilities {
	@variants responsive {
        .bg-img-1 {
			background-image: url('../img/bg/bg-1.png');
		}

        .bg-img-2 {
            background-image: url('../img/bg/bg-2.svg');
        }

        .bg-img-3 {
			background-image: url('../img/bg/bg-3.svg');
		}

        .bg-img-4 {
			background-image: url('../img/bg/bg-4.svg');
		}

        .bg-img-5 {
			background-image: url('../img/bg/bg-5.svg');
		}

        .bg-img-6 {
            background-image: url('../img/bg/bg-6.svg');
        }

        .bg-img-7{
			background-image: url('../img/bg/bg-7.svg');
		}

        .bg-img-8 {
            background-image: url('../img/bg/bg-8.svg');
        }
	}
}

body {
	@apply font-ubuntu;
}

p {
    @apply text-cioccolato-60 text-18 mb-12 leading-primary;
}