@import '_fonts.scss';
@import '_mixins.scss';
@import '_tabs.scss';

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer utilities {
	@variants responsive {
		.bg-img-1 {
			background-image: url('../img/bg/bg-1.png');
		}

		.bg-img-2 {
			background-image: url('../img/bg/bg-2.svg');
		}

		.bg-img-3 {
			background-image: url('../img/bg/bg-3.svg');
		}

		.bg-img-4 {
			background-image: url('../img/bg/bg-4.svg');
		}

		.bg-img-5 {
			background-image: url('../img/bg/bg-5.svg');
		}

		.bg-img-6 {
			background-image: url('../img/bg/bg-6.svg');
		}

		.bg-img-7 {
			background-image: url('../img/bg/bg-7.svg');
		}

		.bg-img-8 {
			background-image: url('../img/bg/bg-8.svg');
		}

		.bg-img-9 {
			background-image: url('../img/bg/bg-9.svg');
		}
	}
}

body {
	@apply font-ubuntu;
}

p {
	@apply text-cioccolato-60 text-18 mb-12 leading-primary;
}

.py-zoom-in {
	transition: transform 0.5s, filter 1.5s ease-in-out;
}

.py-zoom-in:hover {
	transform: scale(1.1);
}

.filter-sponsor {
	@apply w-fit text-18 font-medium rounded-full py-5 px-15 mb-15 text-cioccolato;
}

.filter-sponsor.active-sponsor {
	@apply bg-yelloworange text-white;
}

.list-sponsor .sponsor-logo {
	@apply  mix-blend-darken justify-center w-half-15 md:w-quarter-15 xl:w-1/6 max-w-180 max-h-80;
}